$color-primary: red;
$color-secondary: blue;
$color-tertiary: green;

.exercise {
  border: 1px solid $color-primary;
  padding: 10px;
  text-align: center;

  .exercise-title {
    color: $color-tertiary;
    text-decoration: underline;
    text-decoration-color: $color-secondary;

    
  }
  section {
    display: flex;
    article {
      border: 2px solid $color-tertiary;
      padding: 10px;
      &:nth-child(odd) {
        margin: 0;
        color: $color-secondary;
      }
      &:nth-child(even) {
        margin: 0;
        color: $color-primary;
      }
    }
  }
}
